<mat-toolbar class="mattoolbar" fxLayoutAlign="center center">
    <mat-toolbar-row>
        <div class="imgandtext" fxLayout="row" fxLayout.xs="row">
            <div>
                <img class="book" src="../../../assets/bookimg.svg" >
            </div>
            <div class="text">
                <h2>Bookstore</h2>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="opt" fxLayoutAlign="center center">
    <span class="ptr"><h2>Reset Your Password</h2></span>
</div>

<div class="centerForgetPassword" fxLayoutAlign="center center" fxLayout="column">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">    
            <mat-card class="ForgetPassword" fxLayout="column" fxLayoutAlign="center center">
            <div class="OR">
                <span class="OR">Create a new & strong password</span>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="EmailId" formControlName="password">
                    <mat-error>enter password</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="EmailId" formControlName="confirmPassword">
                    <mat-error>enter confirm password</mat-error>
                </mat-form-field>
            </div>

            <div>
                <button mat-stroked-button  class="gfh">Set Password</button>
            </div>

            <div class="fields" routerLink='/login'>
                <button mat-stroked-button
                    style="height: 300%; width: 350px; margin-top: 15px; font-size:18px; background-color:#F5F5F5;">Login Now
                    </button>
            </div>
        </mat-card>
   </form>
</div>

